.auth-reset-background {
	width: 100vw;
	height: 120vh;
	background: linear-gradient(270deg, #13adc7 0%, #945dd6 100%);
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
}

.auth-reset-container {
	width: 500px;
	height: 500px;
	border-radius: 12px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	display: flex;
	flex-direction: column;
	padding: 25px;
}

.auth-reset-container .title {
	display: inline-block;
	text-align: center;
	margin-top: 10px;
}

.titleCloseBtn {
	display: flex;
	justify-content: flex-end;
}

.titleCloseBtn button {
	background-color: transparent;
	border: none;
	font-size: 25px;
	cursor: pointer;
}

.auth-reset-body {
	flex: 50%;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 1.7rem;
	text-align: center;
	flex-direction: column;
}

.auth-reset-footer {
	flex: 20%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.cancel {
	background-color: red;
	border-radius: 20px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	margin-right: 20px;
}

.continue {
	background-color: rgb(11, 156, 11);
	border-radius: 20px;
	color: #ffffff;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
	border: none;
}

.auth-input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}
